{
  "printWidth": 95,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": [".prettierrc", ".eslintrc", ".stylelintrc"],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.scss",
      "options": {
        "parser": "scss",
        "singleQuote": false
      }
    },
    {
      "files": "*.css",
      "options": {
        "parser": "css",
        "singleQuote": false
      }
    },
    {
      "files": "*.less",
      "options": {
        "parser": "less",
        "singleQuote": false
      }
    }
  ]
}
